aioredis==1.3.1
asgiref==3.2.10
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.2.1
Automat==20.2.0
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
daphne==3.0.2
defusedxml==0.6.0
Django==3.1
django-allauth==0.42.0
django-cors-headers==3.5.0
django-crontab==0.7.1
django-decouple==2.1
django-filter==2.3.0
django-rest-auth==0.9.5
django-reversion==3.0.7
djangorestframework==3.11.1
djangorestframework-filters==1.0.0.dev0
hiredis==2.0.0
humanize==3.3.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.3.0
incremental==21.3.0
itypes==1.2.0
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
msgpack==1.0.2
mysql-connector==2.2.9
oauthlib==3.1.0
paramiko==2.7.2
pgcli==2.1.1
pgspecial==1.12.1
pkg-resources==0.0.0
prompt-toolkit==2.0.10
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.2.0
PyMySQL==1.0.2
PyNaCl==1.4.0
pyOpenSSL==20.0.1
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
semantic-version==2.8.5
service-identity==21.1.0
setproctitle==1.2.2
setuptools-rust==0.12.1
six==1.15.0
sqlparse==0.3.1
sshtunnel==0.4.0
tabulate==0.8.9
terminaltables==3.1.0
toml==0.10.2
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
zcrmsdk==2.0.12
zipp==3.4.1
zope.interface==5.4.0
